@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.App {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    201deg,
    rgba(0, 0, 0, 1) 22%,
    rgba(255, 255, 255, 1) 88%
  );
  padding: 0;
  min-height: 100vh;
  font-family: "Ubunto Mono";
}
