.modal-container {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: 55vh;
  background-color: rgba(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.modal-body {
  width: 65%;
}

.modal-body p {
  text-align: left;
}

.title-close-btn {
  width: 35px;
}
