.fetchComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  height: 100%;
}

.fetchComponent h2 {
  color: #eeeeee;
  font-size: 2em;
  padding: 10px;
}

.fetchComponent h4 {
  color: #eeeeee;
  font-size: 20px;
  align-self: center;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 550px;
  max-height: 75vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.list-container ul {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.fetchComponent li {
  list-style-type: none;
  border: 2px black solid;
  width: 100%;
  margin-top: 2px;
  background-color: #caf0f8;
  border-radius: 15px;
  height: 100px;
  color: #0077b6;
}

@media (max-width: 510px) {
  .fetchComponent ul {
    width: 350px;
  }

  .fetchComponent h2 {
    font-size: 2em;
  }

  .fetchComponent h4 {
    font-size: 1em;
  }
}
