.fetchComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  height: 100%;
}

.fetchComponent h2 {
  color: #0a8098;
  font-size: 4em;
  padding: 10px;
}

.list-container {
  display: flex;
  justify-content: center;
}

.list-container ul {
  margin-left: 0px;
  width: 460px;
}

.fetchComponent li {
  list-style-type: none;
  border: 2px black solid;
  width: 100%;
  margin-top: 2px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #caf0f8;
  border-radius: 15px;
  height: 100px;
  color: #0077b6;
}

@media (max-width: 376px) {
  .fetchComponent ul {
    width: 350px;
  }
}
