.searchfilter {
  width: 460px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 55px;
  border-radius: 12px;
}

input[type="text"]::placeholder {
  padding-left: 5px;
  font-size: 15px;
  font-size: 1.5rem;
}

@media (max-width: 376px) {
  .searchfilter {
    width: 350px;
  }
}
